telegram
clarifai
aiohttp==3.7.4
astroid==2.2.5
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
et-xmlfile==1.0.1
idna==2.8
isort==4.3.17
jdcal==1.4.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
multidict==4.7.3
openpyxl==2.6.2
pylint==2.3.1
requests==2.22.0
six==1.12.0
urllib3==1.26.5
virtualenv==16.7.9
virtualenvwrapper-win==1.2.5
wrapt==1.11.1
yarl==1.4.2
